include ./includes/header.jade
div.form-layer

    form#loginForm.form
        h2 Login
        input(autocomplete="off" type="text" id="login1" name="login")
        button(type="submit" id="authorizationButton") Login
div#info
hr
div#dump

include ./includes/footer.jade
