include ./includes/header.jade
if !user.login
    div.secret This page is restricted. Please Log in / Register to view this source

if user.login
    div.secret HELLO!!!

include ./includes/footer.jade
