include ./includes/header.jade
div.form-layer
    form#registerForm.form
        h2 Register new user
        input(autocomplete="off" type="text" id="login" name="login")
        button(type="submit" id="registrationButton") Register

div#info
hr
div#dump

include ./includes/footer.jade
