body {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: #717171;
    padding: 0;
    margin: 0;
}

.form {
    width: 30%;
    margin: 7% auto;
    display: flex;
    flex-direction: column;
}

.form input[type=text] {
    border: 1px solid #2588c1;
    border-radius: 5px;
    font-size: 24px;
    width: 100%;
    margin: 0 0 2% 0;
    padding: 1%;
    color: #2588c1;
    box-sizing: border-box;
}

.form button {
    font-size: 24px;
    background: #2588c1;
    border-radius: 5px;
    border: 1px solid #2588c1;
    color: #fff;
    width: 100%;
    margin: 0 0 2% 0;
    cursor: pointer;
    transition: all 0.5s;
    box-sizing: border-box;
}

.form button:hover {
    color: #2588c1;
    background: #fff;
}

#info:empty {
    display: none;
}

#info {
    background: #000;
    color: #fff;
    padding: 3%;
    font-family: "Courier New", Courier, monospace;
    width: 90%;
    margin: 0 auto;
}

.form-layer {
    display: flex;
}

.menu {
    display: flex;
    margin: 0;
    padding: 0 1%;
    font-size: 16px;
    background: #424242;
    color: #fff;
}
.menu li {
    list-style-type: none;
    padding: 1%;
}
.menu a {
    color: #fff;
}
.menu .current a {
    text-decoration: none;
    font-weight: bold;
}
.nickname {
    margin: 0 0 0 auto;
}

.wfdays {
    background-color: #1B91CD;
    overflow: hidden;
    color: #fff;
    font-family: Arial, sans-serif;
}
.wfdays-logo {
    display: block;
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
}

h1 {
    font-size: 30px;
}
.secret {
    width: 50%;
    margin: 2% auto;
    border: 1px solid #717171;
    padding: 2%;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px 1px RGBA(0,0,0,0.1);
}
.secret a {
    color: #424242;
}
