ul.menu
    li(class=path==='/' && 'current')
        a(href='/') Main
    if !user.login
        li(class=path==='/login' && 'current')
            a(href='/login') Sign In
    if !user.login
        li(class=path==='/register' && 'current')
            a(href='/register') Sign Up
    if user.login
        li
            a(href='/logout') Logout
        li.nickname
            | Hello,
            a(href='/profile') #{user.login}
